.btn-1,
.btn-2 {
  border-radius: 8px;
  padding: 0.6875rem 0.875rem;
  font-weight: 700;
  line-height: 1.625;
  text-transform: uppercase;
}
@media (min-width: 43.75rem) {
  .btn-1,
  .btn-2 {
    padding: 16px 27px;
  }
}

.btn-1 {
  background-color: #F16718;
  color: #FFFFFF;
}
.btn-1:hover {
  cursor: pointer;
  background-color: #FF9B62;
}

.btn-2 {
  background-color: #E8EFF2;
  color: #162542;
}
.btn-2:hover {
  cursor: pointer;
  background-color: #162542;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  border: none;
}

body {
  min-height: 100vh;
}

body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4375rem 1.5rem 0px 1.5rem;
  margin-bottom: 4rem;
}
@media (min-width: 43.75rem) {
  .header {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
}
@media (min-width: 75rem) {
  .header {
    padding: 3.4375rem 0 0 0;
    max-width: 69.375rem;
    margin: 0 auto 5.1875rem auto;
  }
}

.intro__wrapper {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .intro__wrapper::after {
    content: "";
    display: inline-block;
    width: 255px;
    height: 240px;
    background-color: #E8EFF2;
    position: absolute;
    right: -120px;
    top: 0;
    border-radius: 20px;
  }
}

@media (min-width: 43.75rem) {
  .intro {
    display: grid;
    grid-template-columns: minmax(379px, 1fr) 1fr;
    padding: 0;
    gap: 69px;
  }
}
@media (min-width: 75rem) {
  .intro {
    max-width: 1110px;
    margin: 0 auto;
  }
}

.intro__content-wrapper {
  margin-bottom: 4rem;
  padding: 0 1.5rem;
}
@media (min-width: 43.75rem) {
  .intro__content-wrapper {
    padding: 60px 0 0 40px;
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 75rem) {
  .intro__content-wrapper {
    padding: 60px 0 0 0;
    margin-bottom: 138px;
    max-width: 445px;
  }
}

.intro__title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 2rem;
  line-height: 1;
}
@media (min-width: 43.75rem) {
  .intro__title {
    margin-bottom: 2.125rem;
  }
}
@media (min-width: 75rem) {
  .intro__title {
    font-size: 56px;
    margin-bottom: 24px;
  }
}

.intro__img img {
  margin-left: auto;
  border-radius: 15px;
  transform: translateX(21px);
}
@media (min-width: 43.75rem) {
  .intro__img img {
    max-width: 29.875rem;
    transform: initial;
  }
}
@media (min-width: 75rem) {
  .intro__img img {
    max-width: 33.75rem;
  }
}

.intro__text {
  color: #7B8BAD;
  line-height: 1.625;
  margin-bottom: 2rem;
}
@media (min-width: 43.75rem) {
  .intro__text {
    margin-bottom: 2.4375rem;
  }
}
@media (min-width: 75rem) {
  .intro__text {
    font-size: 18px;
  }
}

.intro__btn {
  margin-right: 32px;
}
@media (min-width: 75rem) {
  .intro__btn {
    margin-right: 40px;
  }
}

.intro__release {
  text-transform: uppercase;
  line-height: 1.625;
  font-weight: 700;
  display: inline-block;
  color: #7B8BAD;
}

.mechanical {
  display: grid;
  grid-template-columns: minmax(129px, 1fr) minmax(220px, 1fr);
}

.phone-and-keyboard {
  max-width: 129px;
  background-color: #F16718;
  border-radius: 20px;
}
.phone-and-keyboard img {
  mix-blend-mode: multiply;
  border-radius: inherit;
}

.glass-and-keyboard {
  max-width: 220px;
}/*# sourceMappingURL=main.css.map */