// Imports
@import './utilities';
@import './components';
@import './reset';

// Project Start
body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden; // Oculta o overflow horizontal no body
}


// Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4375rem 1.5rem 0rem 1.5rem;
  margin-bottom: 4rem;
  @include device(tablet) {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
  @include device(desktop) {
    padding: 3.4375rem 0 0 0;
    max-width: 69.375rem;
    margin: 0 auto 5.1875rem auto;
  }
}



// Intro
.intro__wrapper {
  position: relative;
  overflow: hidden;
  @media (min-width: 90rem) {
    &::after {
      content: "";
      display: inline-block;
      width: 15.9375rem;
      height: 15rem;
      background-color: $color5;
      position: absolute;
      right: -120px;
      top: 0;
      border-radius: 20px;
    }
  }
}

.intro {
  margin-bottom: 1.5rem;
  @include device(tablet) {
    display: grid;
    grid-template-columns: minmax(379px, 1fr) 1fr;
    padding: 0;
    gap: 69px;
    margin: initial;
  }
  @include device(desktop) {
    max-width: 69.375rem;
    margin: 0 auto;
  }
}

.intro__content-wrapper {
  margin-bottom: 4rem;
  padding: 0 1.5rem;
  @include device(tablet) {
    padding: 3.75rem 0 0 2.5rem;
    margin-bottom: 6.25rem;
  }
  @include device(desktop) {
    padding: 3.75rem 0 0 0;
    margin-bottom: 8.625rem;
    max-width: 27.8125rem;
  }
}

.intro__title {
  font-size: map-get($fonts, "$large1");
  font-weight: 900;
  text-transform: uppercase;
  color: $color1;
  margin-bottom: 2rem;
  line-height: 1;
  @include device(tablet) {
    margin-bottom: 2.125rem;
  }
  @include device(desktop) {
    font-size: map-get($fonts, "$large2");
    margin-bottom: 1.5rem;
  }
}

.intro__img {
  img {
    margin-left: auto;
    border-radius: 15px;
    transform: translateX(21px);
    @include device(tablet) {
      max-width: 29.875rem;
      transform: initial;
    }
    @include device(desktop) {
      max-width: 33.75rem;
    }
  }
}

.intro__text {
  color: $color2;
  line-height: 1.625;
  margin-bottom: 2rem;
  @include device(tablet) {
    margin-bottom: 2.4375rem;
  }
  @include device(desktop) {
    font-size: map-get($fonts, "$small2");
  }
}

.intro__btn {
  margin-right: 2rem;
  @include device(desktop) {
    margin-right: 2.5rem;
  }
}

.intro__release {
  text-transform: uppercase;
  line-height: 1.625;
  font-weight: 700;
  display: inline-block;
  color: $color2;
}

// Mechanical Section
.mechanical__wrapper {
  position: relative;
  overflow: hidden;
  @media (min-width: 90rem) {
    &::after {
      content: "";
      display: inline-block;
      width: 15.9375rem;
      height: 15rem;
      background-color: $color5;
      position: absolute;
      left: -120px;
      bottom: 168px;
      border-radius: 20px;
    }
  }
}

.mechanical__wrapper::before {

}

.mechanical {
  display: grid;
  grid-template-columns: minmax(129px, 1fr) minmax(220px, 1fr);
  padding: 0 1.5rem 0 0;
  margin-bottom: 6.9375rem;
  @include device(tablet) {
    grid-template-columns: minmax(214px, 1fr) minmax(445px, 1fr);
    padding: 0 2.4375rem 0 2.5rem;
    margin-bottom: 8.875rem;
  }
  @include device(desktop) {
    grid-template-columns: minmax(214px, auto) minmax(445px, auto) 1fr;
    max-width: 69.375rem;
    margin: 0 auto 10.5rem auto;
    padding: initial;
  }
}

.phone-and-keyboard {
  max-width: 8.0625rem;
  background-color: $color3;
  border-radius: 20px;
  transform: translateX(-19px);
  img {
    mix-blend-mode: multiply;
    border-radius: inherit
  }
  @include device(tablet) {
    max-width: 13.375rem;
    transform: initial;
  }
  @include device(desktop) {
    max-width: 15.9375rem;
    margin-right: 1.875rem;
  }
}

.glass-and-keyboard {
  max-width: 13.75rem;
  border-radius: 20px;
  img {
    border-radius: inherit;
  }
  @include device(tablet) {
    max-width: 27.8125rem;
  }
  @include device(desktop) {
    margin-right: 7.8125rem;
  }
}

.mechanical__content {
  grid-column: 1 / -1;
  padding: 0 1.5rem;
  @include device(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.6875rem;
    gap: 65px;
  }
  @include device(desktop) {
    display: block;
    grid-column: initial;
    padding: initial;
    max-width: 15.9375rem;
  }
}

.mechanical__title {
  font-size: map-get($fonts, "$medium2");
  text-transform: uppercase;
  font-weight: 900;
  color: $color1;
  text-align: center;
  margin: 4.6875rem 0 1.5rem 0;
  @include device(tablet) {
    margin: initial
  }
  @include device(desktop) {
    text-align: left;
    margin-bottom: 1.6875rem;
  }
}

.mechanical__text {
  line-height: 1.625;
  color: $color2;
  text-align: center;
  @include device(tablet) {
    text-align: left;
  }
}

// Features Section

.features {
  padding: 0 1.5rem;
  @include device(tablet) {
    padding: 0rem 6.125rem 0 2.4375rem;
  }
  @include device(desktop) {
    padding: initial;
   
  }
}

.features__list {
  @include device(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4.3125rem
  }
  @include device(desktop) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 69.375rem;
    margin: 0 auto 8rem auto;
  }
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include device(tablet) {
    align-items: start;
  }
}

.features__img-wrapper {
  background-color: $color3;
  padding: 1.375rem;
  border-radius: 16px;
  max-width: 4.0625rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  @include device(tablet) {
    margin-bottom: 2.5rem;
  }
  @include device(desktop) {
    margin-bottom: 3rem;
  }
}


.features__title {
  margin-bottom: 1.5rem;
  font-size: map-get($fonts, "$medium1");
  text-transform: uppercase;
  font-weight: 900;
  color: $color1;
  max-width: 12.5rem;
  text-align: center;
  @include device(tablet) {
    text-align: left;
  }
}

.features__text {
  text-align: center;
  color: $color2;
  @include device(tablet) {
    text-align: left;
  }
}

.features__list .features__text {
  margin-bottom: 4rem;
  @include device(tablet) {
    margin-bottom: 4.5rem;
  }
  @include device(desktop) {
    margin-bottom: initial;
  }
}

.features__list li:last-child .features__text {
  margin-bottom: 6rem;
  @include device(tablet) {
    margin-bottom: 8.875rem;
  }
  @include device(desktop) {
    margin-bottom: initial;
  }
}

// Footer

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.125rem;
  color: $color2;
  @include device(tablet) {
    margin-bottom: 2.6875rem;
  }
  @include device(desktop) {
    margin-bottom: 2.4375rem;
  }
  span {
    font-weight: 700;
  }
}




