.btn-1,
.btn-2 {
  border-radius: 8px;
  padding: 0.6875rem 0.875rem;
  font-weight: 700;
  line-height: 1.625;
  text-transform: uppercase;
}
@media (min-width: 43.75rem) {
  .btn-1,
  .btn-2 {
    padding: 16px 27px;
  }
}

.btn-1 {
  background-color: #F16718;
  color: #FFFFFF;
}
.btn-1:hover {
  cursor: pointer;
  background-color: #FF9B62;
}

.btn-2 {
  background-color: #E8EFF2;
  color: #162542;
}
.btn-2:hover {
  cursor: pointer;
  background-color: #162542;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  border: none;
}

body {
  min-height: 100vh;
}

body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4375rem 1.5rem 0rem 1.5rem;
  margin-bottom: 4rem;
}
@media (min-width: 43.75rem) {
  .header {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
}
@media (min-width: 75rem) {
  .header {
    padding: 3.4375rem 0 0 0;
    max-width: 69.375rem;
    margin: 0 auto 5.1875rem auto;
  }
}

.intro__wrapper {
  position: relative;
  overflow: hidden;
}
@media (min-width: 90rem) {
  .intro__wrapper::after {
    content: "";
    display: inline-block;
    width: 15.9375rem;
    height: 15rem;
    background-color: #E8EFF2;
    position: absolute;
    right: -120px;
    top: 0;
    border-radius: 20px;
  }
}

.intro {
  margin-bottom: 1.5rem;
}
@media (min-width: 43.75rem) {
  .intro {
    display: grid;
    grid-template-columns: minmax(379px, 1fr) 1fr;
    padding: 0;
    gap: 69px;
    margin: initial;
  }
}
@media (min-width: 75rem) {
  .intro {
    max-width: 69.375rem;
    margin: 0 auto;
  }
}

.intro__content-wrapper {
  margin-bottom: 4rem;
  padding: 0 1.5rem;
}
@media (min-width: 43.75rem) {
  .intro__content-wrapper {
    padding: 3.75rem 0 0 2.5rem;
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 75rem) {
  .intro__content-wrapper {
    padding: 3.75rem 0 0 0;
    margin-bottom: 8.625rem;
    max-width: 27.8125rem;
  }
}

.intro__title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 2rem;
  line-height: 1;
}
@media (min-width: 43.75rem) {
  .intro__title {
    margin-bottom: 2.125rem;
  }
}
@media (min-width: 75rem) {
  .intro__title {
    font-size: 56px;
    margin-bottom: 1.5rem;
  }
}

.intro__img img {
  margin-left: auto;
  border-radius: 15px;
  transform: translateX(21px);
}
@media (min-width: 43.75rem) {
  .intro__img img {
    max-width: 29.875rem;
    transform: initial;
  }
}
@media (min-width: 75rem) {
  .intro__img img {
    max-width: 33.75rem;
  }
}

.intro__text {
  color: #7B8BAD;
  line-height: 1.625;
  margin-bottom: 2rem;
}
@media (min-width: 43.75rem) {
  .intro__text {
    margin-bottom: 2.4375rem;
  }
}
@media (min-width: 75rem) {
  .intro__text {
    font-size: 18px;
  }
}

.intro__btn {
  margin-right: 2rem;
}
@media (min-width: 75rem) {
  .intro__btn {
    margin-right: 2.5rem;
  }
}

.intro__release {
  text-transform: uppercase;
  line-height: 1.625;
  font-weight: 700;
  display: inline-block;
  color: #7B8BAD;
}

.mechanical__wrapper {
  position: relative;
  overflow: hidden;
}
@media (min-width: 90rem) {
  .mechanical__wrapper::after {
    content: "";
    display: inline-block;
    width: 15.9375rem;
    height: 15rem;
    background-color: #E8EFF2;
    position: absolute;
    left: -120px;
    bottom: 168px;
    border-radius: 20px;
  }
}

.mechanical {
  display: grid;
  grid-template-columns: minmax(129px, 1fr) minmax(220px, 1fr);
  padding: 0 1.5rem 0 0;
  margin-bottom: 6.9375rem;
}
@media (min-width: 43.75rem) {
  .mechanical {
    grid-template-columns: minmax(214px, 1fr) minmax(445px, 1fr);
    padding: 0 2.4375rem 0 2.5rem;
    margin-bottom: 8.875rem;
  }
}
@media (min-width: 75rem) {
  .mechanical {
    grid-template-columns: minmax(214px, auto) minmax(445px, auto) 1fr;
    max-width: 69.375rem;
    margin: 0 auto 10.5rem auto;
    padding: initial;
  }
}

.phone-and-keyboard {
  max-width: 8.0625rem;
  background-color: #F16718;
  border-radius: 20px;
  transform: translateX(-19px);
}
.phone-and-keyboard img {
  mix-blend-mode: multiply;
  border-radius: inherit;
}
@media (min-width: 43.75rem) {
  .phone-and-keyboard {
    max-width: 13.375rem;
    transform: initial;
  }
}
@media (min-width: 75rem) {
  .phone-and-keyboard {
    max-width: 15.9375rem;
    margin-right: 1.875rem;
  }
}

.glass-and-keyboard {
  max-width: 13.75rem;
  border-radius: 20px;
}
.glass-and-keyboard img {
  border-radius: inherit;
}
@media (min-width: 43.75rem) {
  .glass-and-keyboard {
    max-width: 27.8125rem;
  }
}
@media (min-width: 75rem) {
  .glass-and-keyboard {
    margin-right: 7.8125rem;
  }
}

.mechanical__content {
  grid-column: 1/-1;
  padding: 0 1.5rem;
}
@media (min-width: 43.75rem) {
  .mechanical__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.6875rem;
    gap: 65px;
  }
}
@media (min-width: 75rem) {
  .mechanical__content {
    display: block;
    grid-column: initial;
    padding: initial;
    max-width: 15.9375rem;
  }
}

.mechanical__title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  color: #162542;
  text-align: center;
  margin: 4.6875rem 0 1.5rem 0;
}
@media (min-width: 43.75rem) {
  .mechanical__title {
    margin: initial;
  }
}
@media (min-width: 75rem) {
  .mechanical__title {
    text-align: left;
    margin-bottom: 1.6875rem;
  }
}

.mechanical__text {
  line-height: 1.625;
  color: #7B8BAD;
  text-align: center;
}
@media (min-width: 43.75rem) {
  .mechanical__text {
    text-align: left;
  }
}

.features {
  padding: 0 1.5rem;
}
@media (min-width: 43.75rem) {
  .features {
    padding: 0rem 6.125rem 0 2.4375rem;
  }
}
@media (min-width: 75rem) {
  .features {
    padding: initial;
  }
}

@media (min-width: 43.75rem) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4.3125rem;
  }
}
@media (min-width: 75rem) {
  .features__list {
    grid-template-columns: repeat(4, 1fr);
    max-width: 69.375rem;
    margin: 0 auto 8rem auto;
  }
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 43.75rem) {
  .features .container {
    align-items: start;
  }
}

.features__img-wrapper {
  background-color: #F16718;
  padding: 1.375rem;
  border-radius: 16px;
  max-width: 4.0625rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
@media (min-width: 43.75rem) {
  .features__img-wrapper {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 75rem) {
  .features__img-wrapper {
    margin-bottom: 3rem;
  }
}

.features__title {
  margin-bottom: 1.5rem;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #162542;
  max-width: 12.5rem;
  text-align: center;
}
@media (min-width: 43.75rem) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  text-align: center;
  color: #7B8BAD;
}
@media (min-width: 43.75rem) {
  .features__text {
    text-align: left;
  }
}

.features__list .features__text {
  margin-bottom: 4rem;
}
@media (min-width: 43.75rem) {
  .features__list .features__text {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 75rem) {
  .features__list .features__text {
    margin-bottom: initial;
  }
}

.features__list li:last-child .features__text {
  margin-bottom: 6rem;
}
@media (min-width: 43.75rem) {
  .features__list li:last-child .features__text {
    margin-bottom: 8.875rem;
  }
}
@media (min-width: 75rem) {
  .features__list li:last-child .features__text {
    margin-bottom: initial;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.125rem;
  color: #7B8BAD;
}
@media (min-width: 43.75rem) {
  .footer {
    margin-bottom: 2.6875rem;
  }
}
@media (min-width: 75rem) {
  .footer {
    margin-bottom: 2.4375rem;
  }
}
.footer span {
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */